# Sanity
NEXT_PUBLIC_SANITY_PROJECT_ID=your_project_id
NEXT_PUBLIC_SANITY_DATASET=production
SANITY_API_TOKEN=your_api_token

# MongoDB
MONGODB_URI=mongodb+srv://user:pass@cluster.mongodb.net/bigendabite

# NextAuth
# NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=your_nextauth_secret

# Discord
DISCORD_WEBHOOK_URL=https://discord.com/api/webhooks/...
DISCORD_BOT_INVITE=https://discord.gg/...

# MTN MoMo
MOMO_API_USER=your_momo_api_user
MOMO_API_KEY=your_momo_api_key
MOMO_SUBSCRIPTION_KEY=your_momo_subscription_key
MOMO_ENVIRONMENT=sandbox
MOMO_ACCESS_TOKEN=your_momo_access_token

# Google OAuth
AUTH_GOOGLE_ID=your_google_client_id
AUTH_GOOGLE_SECRET=your_google_client_secret
AUTH_SECRET=your_auth_secret

# Gmail SMTP (for password reset emails)
GMAIL_USER=bigendabite@gmail.com
GMAIL_PASSWORD=ldzwdtistfmdxgpb
